@import url("./fonts.css");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 1000px;
}

/* ----- Global Variables START ----- */
:root {
  /* Fonts START */
  --anton: Anton, sans-serif;
  --notoSerif: NotoSerif, sans-serif;
  --teko: Teko, sans-serif;
  /* Fonts END */

  /* Color Theme START */
  --color-blackish: #0f0f0f;
  --color-white: #ffffff;
  --color-primary-dark: #57b36d;
  --color-primary-light: #97feaf;
  --color-secondary: #fffd72;
  --color-complementary-dark: #b3464f;
  --color-complementary-light: #f8c2ae;
  /* Color Theme END */

  /* width,height,padding and Margin START */
  --page-padding-lg-screen: 0 2rem;
  --page-padding-sm-screen: 0 1rem;
  --navbar-height: 9vh;
  /* width,height,padding and Margin END */
}
/* ----- Global Variables END ----- */

/* ----- Global Styles START ----- */
a {
  text-decoration: none;
}
/* ----- Global Styles END ----- */

/* ----- Header Styling START ----- */
nav#topNav {
  position: fixed;
  width: 100%;
  padding: 0 2rem;
  padding: var(--page-padding-lg-screen, 0 2rem);
  background: #57b36d;
  background: var(--color-primary-dark, #57b36d);
  z-index: 10;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

nav#topNav::after {
  content: "";
  display: table;
  clear: both;
}

.navbar-brand {
  float: left;
  line-height: 9vh;
  line-height: var(--navbar-height, 9vh);
}

.navbar-brand a {
  font-family: Anton, sans-serif;
  font-family: var(--anton, Anton, sans-serif);
  font-size: 1.5rem;
  vertical-align: middle;
  color: #fffd72;
  color: var(--color-secondary, #fffd72);
}

.navbar-brand a:hover {
  color: #f8c2ae;
  color: var(--color-complementary-light, #f8c2ae);
}

ul.nav-menu {
  list-style-type: none;
}

ul#navMenuPrimary {
  margin: 0 auto;
  width: fit-content;
}

ul#navMenuPrimary > li.nav-item {
  float: left;
}

ul.nav-menu > li.nav-item > a.nav-link {
  display: inline-block;
  font-family: Teko, sans-serif;
  font-family: var(--teko, Teko, sans-serif);
  font-size: 1.3rem;
  color: #ffffff;
  color: var(--color-white, #ffffff);
}

ul.nav-menu > li.nav-item > a.nav-link:hover {
  color: #fffd72;
  color: var(--color-secondary, #fffd72);
}

ul#navMenuPrimary > li.nav-item > a.nav-link {
  line-height: 9vh;
  line-height: var(--navbar-height, 9vh);
  padding: 0 2rem;
}

ul#navMenuPrimary > li.nav-item:hover {
  background: #b3464f;
  background: var(--color-complementary-dark, #b3464f);
}

.signin {
  float: right;
  line-height: 9vh;
  line-height: var(--navbar-height, 9vh);
}

.signin a {
  vertical-align: middle;
  font-family: NotoSerif, sans-serif;
  font-family: var(--notoSerif, NotoSerif, sans-serif);
  font-size: 0.9rem;
  font-weight: 600;
  color: #0f0f0f;
  color: var(--color-blackish, #0f0f0f);
}

.signin a:hover {
  color: #fffd72;
  color: var(--color-secondary, #fffd72);
}

.nav-arrowhead::after {
  content: "\2304";
  position: relative;
  font-size: 1.5rem;
  top: -6px;
}

ul#navMenuPrimary > li.nav-item:hover > a.nav-link > .nav-arrowhead::after {
  content: "\2303";
  top: 9px;
}

.nav-dropdown-container {
  position: relative;
}

.nav-dropdown {
  display: none;
  position: absolute;
  background: #b3464f;
  background: var(--color-complementary-dark, #b3464f);
  width: max-content;
  z-index: 10;
}

.nav-dropdown li.nav-item a.nav-link {
  width: 100%;
  padding: 0.5rem 1rem;
}

.nav-dropdown li.nav-item:not(:last-child) {
  border-bottom: 1px solid #97feaf;
  border-bottom: 1px solid var(--color-primary-light);
}

.nav-dropdown-container:hover > .nav-dropdown {
  display: block;
}

.nav-dropdown-container
  > .nav-dropdown
  > .nav-dropdown-container
  > .nav-dropdown {
  border-left: 5px solid #fffd72;
  border-left: 5px solid var(--color-secondary);
  top: 0px;
  left: 100%;
}

@media only screen and (max-width: 768px) {
  nav#topNav {
    padding: 0 1rem;
    padding: var(--page-padding-sm-screen, 0 1rem);
  }
}
/* ----- Header Styling END ----- */
